* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    height: 100vh;
    margin-left: 90px;
    background: #ffffff;

}

h2 {
    margin: 20px 0 10px 50px;
}
/*DESIGN FOR FILTER*/

.filter-container{
    width:100%;
    /*border:2px solid red;*/
    padding:10px 50px 10px 50px;
}

form{
    display:flex;
}
form .search-field{
  /*  border:2px solid black;*/
    margin:0 40px 0 0;
}

form .date-filter-container{
    /*border: 2px solid green;*/
    font-weight:600;
    margin:0 10px 0 0;
    display:flex;
 }
form .print-pdf-btn{
   /* border:2px solid blue;*/
    padding:10px 20px 10px 20px;
    border-radius:5px;
    font-size:1.1rem;
    width:100px;
    display:grid;
    place-items:center;
    cursor:pointer;
    background-color:#541623;
    color: #fdf3f3;
    border: 2px solid black;
}

form .print-pdf-btn:hover{
    opacity:0.9;
}

.date-filter-container input {
    border-radius: 5px;
    border: 2px solid black;
    font-size: 1rem;
    padding: 10px;
    margin-right: 30px;
}

.date-filter-container button {
    border-radius: 5px;
    border: 2px solid black;
    font-size: 1rem;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    color: #fdf3f3;
    background-color: #541623;
}
.date-filter-container button:hover{
    opacity:0.9;
}
.date-filter-container label{
    margin-top:15px;
    margin-right:10px;
}





.search-field{
    position:relative;
}
.search-field input{
    border:2px solid black;
    padding: 10px 55px 10px 10px ;
    width:400px;
    font-size:1rem;
    border-radius:5px;
   
}
.search-field input::placeholder{
    font-style:italic;
    letter-spacing:2px;
    font-weight:500;
}

.search-field .search-field-icon {
    position: absolute;
    top:10px;
    left: 90%;
}

.search-field img{
    width:20px;
    height:20px;
}








table {
    width: 97%;
    text-align: center;
    border-collapse: collapse;
   
}

.table-container {
    margin: 10px 30px 0 30px;
   /* border: 2px solid black;*/
/*    box-shadow: 2px 2px 15px black;*/
    display: grid;
    place-items: center;
    max-height: 530px; /* Set the maximum height for the container */
    overflow-y: auto; /* Add a vertical scrollbar if needed */
    overflow-x: auto;
    max-width: 100%;
}

th {
    background: rgba(84, 22, 35, 1);
    padding: 20px;
    font-size: 1.2rem;
    color: #fdf3f3;
    font-weight: 500;
    position: sticky;
    top: 0;
    z-index: 1;
}

td {
    padding: 20px;
    border-bottom: 1px solid #808080;
    background-color: #fbe8e9;
}

/*------------------------------------------------*/
@media (max-width: 800px){
    form{
        flex-direction:column;
        row-gap:5px;
    }
    .search-field input{
        width:260px;
    }

    .date-filter-container{
        flex-direction:column;
        row-gap:5px;
    }
    .date-filter-container input{
        width:260px;
    }
     .date-filter-container label{
        margin:0;
    }

    .table-container {
        margin: 10px 30px 0 50px;
        max-height:700px;
    }
}