
@{
    ViewBag.Title = "SalesRevenue";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/Styles/Group1Stylesheets/SalesRevenueStyle.css" rel="stylesheet" />

<h2 class="header-title">Sales Revenue</h2>

<div class="Sales-total-top-container">
    <div class="Sales-total-container">
        <h3>Total Sales</h3>
        <h1>4,000,000.00</h1>
    </div>
    <div class="Sales-total-container">
        <h3>Total Sales Per Day</h3>
        <h1>4,000,000.00</h1>
    </div>
    <div class="Sales-total-container">
        <h3>Daily average Sales</h3>
        <h1>4,000,000.00</h1>
    </div>
    <div class="Sales-total-container">
        <h3>Total Order</h3>
        <h1>3,0000</h1>
    </div>
</div>