@{
    ViewBag.Title = "Payroll";
    Layout = "~/Views/Shared/_PayrollLayout.cshtml";
}

<h2>Backup and Restore</h2>

@using (Html.BeginForm("ExportData", "Payroll", FormMethod.Post))
{
    <input type="submit" value="Export Data" />
}

<br />

@using (Html.BeginForm("ImportData", "Payroll", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="Import Data" />
}
